<h2>CMS Images from Drupal</h2>
<div>Image tag from CMS: <%=cms_image_tag 'test_logo'%></div>
<div>Image URL from CMS: <%=cms_image_url 'test_logo'%></div>

<h2>CMS Messages from Drupal</h2>
<div><b>SIM message #2:</b> <%=@sim_msg2%></div>
<div><b>SIM message #4:</b> <%=@sim_msg4%></div>
<div><b>Alert message #21:</b> <%=@alert_msg21%></div>
<div><b>Thank you message #14167:</b> <%=@thank_you_msg14167%></div>

<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
